/*
Custom CSS for Rotation web app
*/
.rotation-nav {
    border-radius: 0;
}

.av {
    background-color: #EEEEEE;
}
.bl {
    background-color: #CCCCCC;
}
.da {
    background-color: #D6E8D1;
}
.fl {
    background-color: #E8D2D1;
}
.ll {
    background-color: #FFF9E8;
}
.pa {
    background-color: #E5F9FF;
}
.ri {
    background-color: #FFEBEE;
}
.ru {
    background-color: #EBE5FF;
}
