<div>
  <h1 class="text-danger">Assign House</h1>
  <div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">Assign a freshmen to a house as they get picked</div>
  <div class="panel-body">
    <input type="checkbox" ng-model="data.showImages" ng-change="changeShowImages()">
      Show images?
    </input>
    <!-- optional alert to let user know when database has been updated
      <div style="height: 50px">
        <div class="alert" ng-class="'alert-'+data.alert.type" ng-show="data.alert">
          <button type="button" class="close" ng-click="clickCloseAlert()">×</button>
          {{data.alert.msg}}
        </div>
      </div>
    -->
  </div>

  <select multiple id="mySelect2" ui-select2 ng-model="data.select2" data-placeholder="Select freshmen" style="width: 100%">
    <option ng-repeat="frosh in data.freshmen" value="{{frosh.id}}">{{frosh.FirstName + ' ' + frosh.LastName}}</option>
  </select>

  <div style="overflow:auto">
    <table class="table">
      <col ng-show="data.showImages" span="1" style="width: 200px">
      <tr>
          <th ng-show="data.showImages">img</th>
          <th ng-repeat="key in data.tableIdCols">{{key}}</th>
          <th>house</th>
      </tr>
      <tr ng-repeat="id in data.select2" ng-class="findFreshmen(id)['picked']">
          <td ng-show="data.showImages">
            <img width="167" src="{{data.imageFolder + findFreshmen(id)['Photo']}}">
          </td>
          <td ng-repeat="key in data.tableIdCols">{{findFreshmen(id)[key]}}</td>
          <td style="width: 530px">
            <div class="btn-group">
              <button ng-repeat="(key, house) in data.houses" type="button" class="btn btn-danger"
                  ng-model="findFreshmen(id)['picked']" btn-radio="key" 
                  ng-change="changeHouse(id)">{{key}}</button>
            </div>
            <span style="padding-left: 10px; vertical-align">
              Belongs to <strong>{{data.houses[findFreshmen(id)['picked']]}}</strong>
            </span>
          </td>
      </tr>
    </table>
  </div>
</div>
