<div>
  <h1 class="text-primary">Add Comments</h1>
  <div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Add comments explaining what houses might particularly like/dislike a frosh (for Ranks Team)</div>
  <div class="panel-body">
    <input type="checkbox" ng-model="data.showImages" ng-change="changeShowImages()">
      Show images?
    </input>
    <!-- optional alert to let user know when database has been updated
      <div style="height: 50px">
        <div class="alert" ng-class="'alert-'+data.alert.type" ng-show="data.alert">
          <button type="button" class="close" ng-click="clickCloseAlert()">×</button>
          {{data.alert.msg}}
        </div>
      </div>
    -->
  </div>

  <select multiple id="mySelect2" ui-select2 ng-model="data.select2" data-placeholder="Select freshmen" style="width: 100%">
    <option ng-repeat="frosh in data.freshmen" value="{{frosh.id}}">{{frosh.FirstName + ' ' + frosh.LastName}}</option>
  </select>

  <div style="overflow:auto">
    <table class="table">
      <col ng-show="data.showImages" span="1" style="width: 200px">
      <tr>
          <th ng-show="data.showImages">img</th>
          <th ng-repeat="key in data.tableIdCols">{{key}}</th>
          <th>rankComment</th>
          <th>gender</th>
          <th>Publish</th>
      </tr>
      <tr ng-repeat="id in data.select2" ng-class="findFreshmen(id)['picked']">
          <td ng-show="data.showImages">
            <img width="167" src="{{data.imageFolder + findFreshmen(id)['Photo']}}">
          </td>
          <td ng-repeat="key in data.tableIdCols">{{findFreshmen(id)[key]}}</td>
          <td style="width: 530px">
            <textarea class="form-control" rows="4" ng-model="findFreshmen(id)['rankComment']"></textarea>
          </td>
          <td style="width: 150px">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-model="findFreshmen(id)['gender']" btn-radio="'M'">M</button>
              <button type="button" class="btn btn-default" ng-model="findFreshmen(id)['gender']" btn-radio="'F'">F</button>
            </div>
          </td>
          <td>
            <button class="btn btn-primary" ng-click="publishChanges(id)">Publish</button>
          </td>
      </tr>
    </table>
  </div>
</div>
