<div>
  <h1 class="text-warning">Monitor Stats</h1>
  <div class="panel panel-warning">
  <!-- Default panel contents -->
  <div class="panel-heading">Monitoring relevant statistics</div>
  <div class="panel-body">
	  <!-- <div class="panel-heading">Overview Panel</div> -->

	  <span>
	  	Rounds to display
	  	<span ng-repeat="round in data.rounds">
		    <input type="checkbox" ng-model="round.visible" style="margin-left: 10px"
		      ng-change="updatePath()"> {{round.num}}</input>
	    </span>
    </span>
  </div>
</div>

<div ng-repeat="house in data.houses" class="col-md-6">
  <h3 class="text">{{house.name}}</h3>
  <div class="panel {{house.abrv}}">
	  <!-- Default panel contents -->
	  <!-- <div class="panel-heading"></div> -->
	  <div class="panel-body">
	  	Slots to fill: {{house.froshCnt - house.picked}} / {{house.froshCnt}} <br>
	  	Available Pool of Frosh: {{house.froshRemainingLower}} &lt; {{house.froshRemaining}} <br>
	  	Known Deals: {{house.knownDeals}}/{{house.deals}} <br>
	  	Female Percentage: {{house.females / house.picked * 100}}% <br>
	  	Males vs Females: {{house.females}} / {{house.picked - house.females}} <br>
	  	Amount of picks we have before lockout: {{house.lloydPicksLeftLower}} &lt; {{house.lloydPicksLeftUpper}} <br>
		  <div style="overflow:auto" ng-show="anyRoundVisible()">
		    <table class="table">
		      <tr>
	          <th ng-repeat="columns in data.roundColumns">{{columns[0]}}</th>
		      </tr>
		      <tr ng-repeat="round in house.round">
	          <td ng-show="data.rounds[round.num].visible" ng-repeat="columns in data.roundColumns">{{round[columns[1]]}}</td>
		      </tr>
		    </table>
	    </div>
	  </div>
	  <!-- <div class="panel-heading">something</div> -->
  </div>
</div>
