<div>
  <h1>Query Database</h1>
  <div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading">Query the rotation database</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <input type="checkbox" ng-model="data.showImages"> Show images?</input>
      </div>
    </div>
  </div>

  <div class="input-group">
    <input ui-keyup="{'enter':'enterKeyCallback($event)'}" type="text" ng-model="data.sqlQuery"
        class="form-control">
    <span class="input-group-btn">
      <button id="query-run-button" class="btn btn-success" type="button"
          ng-click="clickRunQuery()" ng-disabled="data.runDisabled">
        Run Query
      </button>
    </span>
  </div>

  <br> 

  <div id="run-progress-bar-container" class="progress progress-striped active" style="display:none">
    <div class="progress-bar progress-bar-success" id="run-progress-bar" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" style="width: 10%">
    </div>
  </div>

  <div class="alert alert-danger" id="warning-div" style="display:none;">
    <button type="button" class="close" ng-click="clickCloseWarning()">×</button>
    <strong>Error! </strong> <span id="warning-msg"> Warning message goes here </span>
  </div>

  <div id="results-table" style="display:none; overflow:auto; max-height:400px">
    <table class="table table-striped">
      <col ng-show="data.showImages && hasInum()" span="1" style="width: 200px">
      <tr>
          <th ng-show="data.showImages && hasInum()">img</th>
          <th ng-repeat="key in data.tableCols">{{key}}</th>
      </tr>
      <tr ng-repeat="row in data.tableContent">
          <td ng-show="data.showImages && hasInum()">
            <img height="206" width="167"
                src="http://donut.caltech.edu/directory/card_image.php?inum={{row.inum}}&amp;photo=show">
          </td>
          <td ng-repeat="key in data.tableCols">{{row[key]}}</td>
      </tr>
    </table>
  </div>
</div>
