<div>
  <h1 class="text-info">Lookup Freshmen</h1>
  <div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Find freshmen by name and choose how much information you want to see</div>
  <div class="panel-body">
    Display Mode:
    <div class="btn-group" style="padding-left: 5px">
      <button ng-repeat="value in data.displayModeValues" type="button" class="btn btn-info"
        ng-model="data.displayMode" btn-radio="value" ng-change="changeDisplay()">{{value}}</button>
    </div>
    <input type="checkbox" ng-model="data.showImages" style="margin-left: 10px"
      ng-change="changeShowImages()"> Show images?</input>

  </div>

  <select multiple id="mySelect2" ui-select2 ng-model="data.select2" data-placeholder="Select freshmen" style="width: 100%">
    <option ng-repeat="frosh in data.freshmen" value="{{frosh.id}}">{{frosh.FirstName + ' ' + frosh.LastName}}</option>
  </select>

  <div style="overflow:auto">
    <table class="table">
      <col ng-show="data.showImages" span="1" style="width: 200px">
      <tr>
          <th ng-show="data.showImages">img</th>
          <th ng-repeat="key in data.tableCols">{{key}}</th>
      </tr>
      <tr ng-repeat="id in data.select2" ng-class="findFreshmen(inum)['pick']">
          <td ng-show="data.showImages">
            <img width="167" src="{{data.imageFolder + findFreshmen(id)['Photo']}}">
          </td>
          <td ng-repeat="key in data.tableCols">{{findFreshmen(id)[key]}}</td>
      </tr>
    </table>
  </div>
</div>
